/*
.btn {
    background-color: DodgerBlue; 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px;
    cursor: pointer; 
  }
  */
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: royalblue;
  }

  input[type="checkbox"]{
    width: 30px; /*Desired width*/
    height: 30px; /*Desired height*/
  }

  /* .alert {
    animation: autoHide 0s ease-in 2s forwards;
} */

@keyframes autoHide {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }}
  
/* .checking{
  text-decoration: line-through;
}
.completeButton.strike{
  text-decoration: line-through;
} */